#IBPMiddleware hibernate configuration 
local.host = localhost
local.port = 3306
local.dbname = iris_innodb
local.username = root
local.password = password

central.host = localhost
central.port = 3306
central.dbname = iris_innodb
central.username = root
central.password = password