@import url(../reindeer/styles.css);

.gcp-window-title {
    /*font-size: 20px;*/
    font-size: 16px;
    text-transform: uppercase;
	color: rgb(34, 34, 34);
}

.gcp-window-title H1:first-child {
	text-transform: uppercase;
	font-weight: normal;
    font-size: 24px;
	color: rgb(68,72,55);
}

.gcp-window-title H1 {
	text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    display: inline-block; 
	color: rgb(68,72,55);
}

.gcp-window-title H2 {
    font-size: 14px;
    font-weight: normal;
    display: inline-block; 
	color: rgb(128,134,106);
}

.gcp-content-title {
	font-weight: bold;
	font-size: 16px;
}

.gcp-section-title {
	font-weight: bold;
	font-size: 12px;
}

.gcp-form-title {
	font-weight: bold;
}

.gcp-popup-view {
	background-color: #FF8109;
	font-size: 12px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
	padding: 1px 3px;
	text-decoration: none;
	border-radius: 1px;
	color: white;
	
	margin-right: 20px;
}

.gcp-popup-view:hover {
	color: white;
}
.v-popupview-popup-gcp-popup-view {
	background-color: #FF8109;
    color: white;
}

/* Lay the options horizontally */
.v-select-optiongroup-horizontal .v-select-option {
	display: inline-block;
}

/* Avoid wrapping if the layout is too tight */
.v-select-optiongroup-horizontal {
	white-space: nowrap;
}

/* Some extra spacing is needed */
.v-select-optiongroup-horizontal
  .v-select-option.v-radiobutton {
	align-bottom: 10px;
}

.addTopSpace {
	margin-top: 10px;
	margin-left: 10px
}

.addSpacing {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.addTablePadding {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
}

/* Modify default styles for the progress indicator */
.v-loading-indicator,
.v-loading-indicator-delay,
.v-loading-indicator-wait {
    position: absolute;
    /* change indicator position from top-right to center from top-left */
    top: 50%;
    left: 50%;
    /* double the size of the default gif, might need to create new gif to avoid pixellation */
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    /* reduce opacity of progress indicator since it will sit on top of other elements */
    opacity: 0.8;
}

/*Override fieldset border style for the Panels in Crossing Manager*/
.v-form fieldset {
	border:1px solid #babfc0;
}

.v-select-optiongroup .v-select-option {
  text-indent: -18px;
  padding-left: 18px;
}

.v-select-optiongroup .v-select-option label {
  white-space: normal;
}

/* Modify row height for Nursery Conditions with ComboBox components */
.v-table-condition-rows .v-table-cell-content {
	vertical-align: middle;
    height: 28px;
}

.v-select-select {
	background: transparent;
}

.v-select-select caption {
	padding-top: 3px;
	padding-bottom: 3px;
}

.v-select-select option:nth-child(odd){
	background: #ffffff;
}

.v-select-select option:nth-child(even){
	background: #e0e0e0;
}