@import url(../reindeer/styles.css);

.gcp-window-title {
    /*font-size: 20px;*/
    font-size: 16px;
    text-transform: uppercase;
	color: rgb(34, 34, 34);
}

.gcp-window-title H1:first-child {
	text-transform: uppercase;
	font-weight: normal;
    font-size: 24px;
	color: rgb(68,72,55);
}

.gcp-window-title H1 {
	text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    display: inline-block; 
	color: rgb(68,72,55);
}

.gcp-window-title H2 {
    font-size: 14px;
    font-weight: normal;
    display: inline-block; 
	color: rgb(128,134,106);
}

.gcp-content-title {
	font-weight: bold;
	font-size: 16px;
}

.gcp-section-title {
	font-weight: bold;
	font-size: 12px;
}

.gcp-form-title {
	font-weight: bold;
}

.gcp-popup-view {
	background-color: #FF8109;
	font-size: 12px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
	padding: 1px 3px;
	text-decoration: none;
	border-radius: 1px;
	color: white;
	
	margin-right: 20px;
}

.gcp-popup-view:hover {
	color: white;
}
.v-popupview-popup-gcp-popup-view {
	background-color: #FF8109;
    color: white;
}

/* Lay the options horizontally */
.v-select-optiongroup-horizontal .v-select-option {
	display: inline-block;
}

/* Avoid wrapping if the layout is too tight */
.v-select-optiongroup-horizontal {
	white-space: nowrap;
}

/* Some extra spacing is needed */
.v-select-optiongroup-horizontal
  .v-select-option.v-radiobutton {
	align-bottom: 10px;
}

.addTopSpace {
	margin-top: 10px;
	margin-left: 10px
}

.addSpacing {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.addTablePadding {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
}

/* Modify default styles for the progress indicator */
.v-loading-indicator,
.v-loading-indicator-delay,
.v-loading-indicator-wait {
    position: absolute;
    /* change indicator position from top-right to center from top-left */
    top: 50%;
    left: 50%;
    /* double the size of the default gif, might need to create new gif to avoid pixellation */
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    /* reduce opacity of progress indicator since it will sit on top of other elements */
    opacity: 0.8;
}

/*Override fieldset border style for the Panels in Crossing Manager*/
.v-form fieldset {
	border:1px solid #babfc0;
}

.v-select-optiongroup .v-select-option {
  text-indent: -18px;
  padding-left: 18px;
}

.v-select-optiongroup .v-select-option label {
  white-space: normal;
}

/* Modify row height for Nursery Conditions with ComboBox components */
.v-table-condition-rows .v-table-cell-content {
	vertical-align: middle;
    height: 28px;
}

.v-select-select {
	background: transparent;
}

.v-select-select caption {
	padding-top: 3px;
	padding-bottom: 3px;
}

.v-select-select option:nth-child(odd){
	background: #ffffff;
}

.v-select-select option:nth-child(even){
	background: #e0e0e0;
}

.bold,
.v-caption-bold {
	font-weight: bold;
}

.listManagerTree {
	padding: 10px;
	border: 1px solid black;
	background: #efefef;
	width: 280px;
	height: 320px;
	overflow: scroll;
}

.v-tree-node {
	font-size: 12px;
}

.v-tree-node-listManagerTreeRootNode {
	font-size: 16px;
	padding-bottom:5px;
}
	
.v-tree-node-listManagerTreeRootNode span {
	margin-left: 5px;
	padding-left: 25px;
	background-image: url(images/icon_folder.png);
	background-repeat: no-repeat;
}

.v-tree-node-listManagerTreeRegularParentNode {
	padding-bottom:4px;
	padding-top:4px;
}
.v-tree-node-listManagerTreeRegularChildNode {
	padding-bottom:3px;
	padding-top:3px;
}
	
.v-tree-node-listManagerTreeRegularParentNode span {
	margin-left: 5px;
	padding-left: 25px;
	background-image: url(images/icon_folder.png);
	background-repeat: no-repeat;
}

.v-tree-node-listManagerTreeRootNode .v-tree-node-focused span,
.v-tree-node-listManagerTreeRegularParentNode .v-tree-node-focused span {
	padding-left: 25px;
}

.v-tree-node-listManagerTreeRegularChildNode span {
	margin-left: 5px;
	padding-left: 25px;
	background-image: url(images/icon_document.png);
	background-repeat: no-repeat;
}

.componenttree-children {
	padding-left: 4px;
}
.componenttree-parent {
	padding: 4px 0 4px 0px;
}
.componenttree-child {
	padding: 4px 0 4px 19px;
}

/* Expand/collapse button: */
.componenttree-expander {
	float: left;
	margin: 0;
	padding: 10px;
}

.list-manager-search-bar {
	border:1px solid #e0e0e0;
	background: #efefef;
	
}

.search-button {
	padding: 0 !important;
	margin: 0 !important;
	background: transparent !important;
	background-image: url(images/search_icon.png) !important;
	background-repeat: no-repeat;
}

.noResizeTextArea{
	resize: none;
}

.gcp_button {
	background: #1081A3 !important;
	border: 1px solid #e0e0e0 !important;
	padding-top:15px !important;
	padding-bottom:15px !important;
	padding-left:22px !important;
	padding-right:22px !important;
}

.gcp_button span.v-button-caption {
	color: #ffffff !important;
	font-weight: bold !important;
	text-decoration: none !important;
}

.link_with_plus_icon {
    background: url(images/plus_icon.png) no-repeat !important;
    padding-left: 22px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;	
}

.link_with_eye_icon {
    background: url(images/eye_icon.png) no-repeat !important;
    padding-left: 30px !important;
/*     padding-top: 2px !important; */
    padding-bottom: 7px !important;	
}

.overflow_x_auto {
	overflow-x: auto !important;
}

.overflow_y_auto {
	overflow-y: auto !important;
}

.overflow_x_scroll {
	overflow-x: scroll !important;
}

.overflow_y_scroll {
	overflow-y: scroll !important;
}

.overflow_x_hidden {
	overflow-x: hidden !important;
}

.overflow_y_hidden {
	overflow-y: hidden !important;
}


.overflow_hidden {
	overflow: hidden !important;
}

.overflow_auto {
	overflow: auto !important;
}

.overflow_scroll {
	overflow: scroll !important;
}