@import url(../vaadin-retro/styles-min.css);

.gcp-window-title {
    text-transform: uppercase;
    font-size: 14px;
	color: #333333;
}


.gcp-window-title H1:first-child {
	text-transform: uppercase;
	font-weight: normal;
    font-size: 14px;
	color: #333333;
}

.gcp-window-title H1 {
	text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
	color: #333333;
}

.gcp-window-title H2 {
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
	color: #333333;
}

.gcp-content-title {
	font-weight: bold;
	font-size: 14px;
	color: #333333;
}

.gcp-section-title {
	font-weight: bold;
	font-size: 12px;
	color: #333333;
}

.gcp-content-help-text {
	font-style: italic;
	padding-bottom: 10px;
}


.gcp-form-title {
	font-weight: bold;
}

/* Search Bar Component Layout*/
.v-panel-search-panel {
	background-color: #e3e3e3;
}

.v-panel-search-panel div {
	background-color: #e3e3e3;
}

.gcp-popup-view {
     background-color: #5A5A5A;
     border-radius: 1px 1px 1px 1px;
     box-shadow: 0px 0px 3px #000000;
     color: white;
     font-size: 12px;
     margin: 2px 20px;
	 margin-left: 2px;
     padding: 0px 5px;
     text-decoration: none;
     border-radius: 50%;
}

.gcp-popup-view:hover {
	color: white;
}
.v-popupview-popup-gcp-popup-view {
	background-color: #5A5A5A;
    color: white;
}

/* Lay the options horizontally */
.v-select-optiongroup-horizontal .v-select-option {
	display: inline-block;
}

/* Avoid wrapping if the layout is too tight */
.v-select-optiongroup-horizontal {
	white-space: nowrap;
}

/* Some extra spacing is needed */
.v-select-optiongroup-horizontal
  .v-select-option.v-radiobutton {
	align-bottom: 10px;
}

.addTopSpace {
	margin-top: 10px;
	margin-left: 10px
}

.addSpacing {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.addTablePadding {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
}

/*Override fieldset border style for the Panels in Crossing Manager*/
.v-form fieldset {
	border:1px solid #babfc0;
}

.v-select-optiongroup .v-select-option {
  text-indent: -18px;
  padding-left: 18px;
}

.v-select-optiongroup .v-select-option label {
  white-space: normal;
}

/* Modify row height for Nursery Conditions with ComboBox components */
.v-table-condition-rows .v-table-cell-content {
	vertical-align: middle;
    height: 28px;
}

.v-select-select {
	background: transparent;
}

.v-select-select caption {
	padding-top: 3px;
	padding-bottom: 3px;
}

.v-select-select option:nth-child(odd){
	background: #ffffff;
}

.v-select-select option:nth-child(even){
	background: #e0e0e0;
}

.bold,
.v-caption-bold {
	font-weight: bold;
}


.not-bold,
.not-bold *,
.v-caption-not-bold,
.v-caption-not-bold *  {
	font-weight: normal !important;
}


.listManagerTree {
	padding: 10px;
	border: 1px solid e3e3e3;
	background: #e3e3e3;
	width: 850px;
	height: 400px;
	overflow: scroll;
}

.listManagerTree-long {
	height: 320px;
}

.v-tree-node {
	font-size: 12px;
}

.v-tree-node-listManagerTreeRootNode {
	font-size: 12px;
	padding-bottom:5px;
}

.v-tree-node-listManagerTreeRootNode span {
	margin-left: 5px;
	padding-left: 25px !important;
	background-position: left 3px top 1px !important;
	background-image: url(images/folder-icon.png);
	background-repeat: no-repeat;
}

.v-tree-node-listManagerTreeRegularParentNode {
	padding-bottom:4px;
	margin-top:2px;
}
.v-tree-node-listManagerTreeRegularChildNode {
	padding-bottom:3px;
	padding-top:3px;
}

.v-tree-node-listManagerTreeRegularParentNode span {
	margin-left: 5px;
	padding-left: 25px !important;
	background-position: left 3px top 1px !important;
	background-image: url(images/folder-icon.png);
	background-repeat: no-repeat;
}

.v-tree-node-listManagerTreeRootNode .v-tree-node-focused span,
.v-tree-node-listManagerTreeRegularParentNode .v-tree-node-focused span {
	padding-left: 25px;
}

.v-tree-node-listManagerTreeRegularChildNode span {
	margin-left: 5px;
	padding-left: 25px !important;
	background-position: left 3px top 1px !important;
	background-image: url(images/document-icon.png);
	background-repeat: no-repeat;
}

.componenttree-children {
	padding-left: 4px;
	margin-left: 9px;
}
.componenttree-parent {
	padding: 8px 0 4px 0px;
}
.componenttree-child {
	padding: 5px 0 5px 15px;
	margin-left: 9px;
}

/* Expand/collapse button: */
.componenttree-expander {
	float: left;
	margin-left: 15px;
	padding: 10px;
}

.gray-rounded-border{
	border:1px solid #e0e0e0;
	border-radius: 3px;
    -moz-border-radius: 3px;
}

.italic {
	font-style: italic;
}

.search-button {
	padding: 0 !important;
	margin: 0 !important;
	background: transparent !important;
	background-image: url(images/search_icon.png) !important;
	background-repeat: no-repeat;
}

.noResizeTextArea{
	resize: none;
}

.gcp_button {
	background: #1081A3 !important;
	border: 1px solid #e0e0e0 !important;
	padding-top:15px !important;
	padding-bottom:15px !important;
	padding-left:22px !important;
	padding-right:22px !important;
}

.gcp_button span.v-button-caption {
	color: #ffffff !important;
	font-weight: bold !important;
	text-decoration: none !important;
}

.link_with_plus_icon {
    background: url(images/plus_icon.png) no-repeat !important;
    padding-left: 22px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.link_with_eye_icon {
    background: url(images/eye_icon.png) no-repeat !important;
    padding-left: 30px !important;
/*     padding-top: 2px !important; */
    padding-bottom: 7px !important;
}

.overflow_x_auto {
	overflow-x: auto !important;
}

.overflow_y_auto {
	overflow-y: auto !important;
}

.overflow_x_scroll {
	overflow-x: scroll !important;
}

.overflow_y_scroll {
	overflow-y: scroll !important;
}

.overflow_x_hidden {
	overflow-x: hidden !important;
}

.overflow_y_hidden {
	overflow-y: hidden !important;
}


.overflow_hidden {
	overflow: hidden !important;
}

.overflow_auto {
	overflow: auto !important;
}

.overflow_scroll {
	overflow: scroll !important;
}

/* context menu tools button */
.v-ctxmenu .ctxmenu-menu-item:hover {
	background: #bed6b2 !important;
	border-radius: 3px !important;
}
.v-ctxmenu .ctxmenu-menu-item {
	color: #333 !important;
}
.v-ctxmenu{
	border-radius: 3px !important;
	font-family: "Open Sans","Helvetica Neue","Segoe UI","Arial",sans-serif !important;
	background: #ffffff !important;
	font-weight: bold !important;
}

.v-captiontext {
	font-size: 13px;
	text-transform: none;
	font-weight: bold;
}

.v-panel {
	border-radius: 3px;
}

.v-panel-content-dropHandlerPanel .v-absolutelayout  {
	background-color: #e3e3e3;
}

.no-border {
	border: 0 !important;
}
.no-border .v-panel-captionwrap,
.no-border .v-panel-deco {
	display:none;
}
.no-border .v-panel-content {
	border: 0 !important;
}


.no-bg, .no-background {
	background: none !important;
}

/* Tabsheet formatting GCP-7370 */
.v-tabsheet-content{
	position:absolute;
	border-bottom: 1px solid #dcdcdc;
}

.v-tabsheet-tabs-minimal .v-tabsheet-spacertd div,.white .v-tabsheet-tabs-minimal .v-tabsheet-spacertd div{height:36px;}
.v-tabsheet-tabs .v-tabsheet-spacertd div,.white .v-tabsheet-tabs .v-tabsheet-spacertd div{height:36px;}

.v-select-optiongroup-horizontalgroup .v-select-option {
    display: inline-block;
}


.v-splitpanel-hsplitter, .v-splitpanel-hsplitter div {
	width: 15px;
	background-image: none;
}

.v-splitpanel-vsplitter, .v-splitpanel-vsplitter div {
	height: 1px;
	background-image: none;
}

/* TabStyled Header */
.v-button-tabStyleButton {
	border-color: #f6f6f6;
}

.v-button-tabStyleButton, .tabStyleButton .v-button-wrap,
.tabHeaderStyle div div .v-button:hover,
.tabHeaderStyle div div .v-button:hover .v-button-wrap,
.tabHeaderStyle div div .v-button:active,
.tabHeaderStyle div div .v-button:active .v-button-wrap
{
	border-color: #f6f6f6;
	background: #f6f6f6;
}

.v-button-tabStyleButton,
.tabHeaderStyle div div .v-button:hover,
.tabHeaderStyle div div .v-button:active{
	border: 1px solid #e3e3e3;
}

.tabHeaderStyle div div .v-button:focus,
.tabHeaderStyle div div .v-button:focus .v-button-wrap,
.tabHeaderStyle div div .v-pressed.v-button,
.tabHeaderStyle div div .v-pressed.v-button .v-button-wrap
{
	background: #ffffff;
}

.tabHeaderStyle div div .v-button:focus,
.tabHeaderStyle div div .v-pressed.v-button{
	border: 1px solid #e3e3e3;
}

.v-button-tabHeaderSelectedStyle,
.tabHeaderSelectedStyle .v-button-wrap,
.tabHeaderSelectedStyle div div .v-button:hover,
.tabHeaderSelectedStyle div div .v-button:hover .v-button-wrap,
.tabHeaderSelectedStyle div div .v-button:active,
.tabHeaderSelectedStyle div div .v-button:active .v-button-wrap
{
	background: #ffffff;
}

.v-button-tabHeaderSelectedStyle,
.tabHeaderSelectedStyle div div .v-button:hover,
.tabHeaderSelectedStyle div div .v-button:active
{
	border: 1px solid #e3e3e3;
}

.tabContainerStyle {
	border: 1px solid #e3e3e3;
}

.tabStyleButton .v-button-caption {
	color: #333;
}

/* Hides Required Field indicator */
.v-required-field-indicator {
	padding-left: 1px;
	margin-top: 16px;
	color: white;
}

.marked_mandatory {
	color: red;
}

.searchPaneLayout, .white_bg_panel > div {
	background-color: #ffffff !important;
}

.no-caption .v-caption {
	height: 0px;
}

.v-verticallayout-no-caption > div {
	background-color: #ffffff;
}

.v-panel-content-section_panel_layout > div {
	background-color: #f6f6f6;
}

/* TABSHEET in Crossing Manager */
.v-tabsheet-content-tabsheet-white > .v-tabsheet-tabsheetpanel {
	background: #ffffff;
}

.tabsheet-white > .v-tabsheet-content {
	border-color: #ffffff;
}

/* fix for 8270 */
.listDetails .v-scrollable, .v-tabsheet-tabsheetpanel { width:100% !important; }


/* Crossing Manager Settings Screen: General Layout */

.cs-panel-section {
	padding-bottom: 15px;
}

/* Crossing Manager Settings Screen: Form Layout and Styling */
.cs .v-caption,
.cs-form-label {
	font-weight: bold;
	width: 300px;
	text-align: right;
	white-space: normal;
}

.cs .v-formlayout-contentcell,
.cs .v-formlayout-contentcell .v-textfield-readonly {
	width: 100%;
}

.cs .v-textfield,
.cs .v-filterselect-input,
.cs-form-input {
	width: 150px;
}

.cs-form-input {
	padding-right: 6px;
}

.cs .v-formlayout-captioncell,
.cs .v-slot {
	width: 300px;
	max-width: 300px;
}

/* Crossing Manager Settings Screen: Inline Icons */
.v-button.cs-inline-icon .v-button-wrap {
	width: 31px;
	margin-top: 4px;
}

.cs-form-label {
	padding-right: 12px;
}

/* Crossing Manager Settings Screen: Mandatory Star */
.cs .v-caption-mandatory-field:after {
	color: #990000;
	content: " *";
}

/* Crossing Manager Settings Screen: Horizontal Radiobutton and Left to Right Checkbox Display */
.cs .v-formlayout .v-radiobutton {
	display: inline;
	padding-left: 0;
}

.cs .v-formlayout .v-radiobutton:last-child {
	padding-left: 12px;
}

.cs-form-label input[type="checkbox"],
.cs-form-label label {
	float: right;
}

.lm-title {
	/* padding-top: 7px; */
	padding-bottom: 4px;
}

.lm-subtitle {
	padding-bottom: 36px;
}

.lm-list-manager-popup .lm-subtitle {
	padding-bottom: 10px;
}

.lm-selection-help {
	margin-top: -8px;
}

.lm-list-desc {
	padding-top: 5px;
	padding-bottom: 8px;
}

.lm-build-list-desc {
	padding-bottom: 36px;
}

.lm-list-manager-main .v-button .v-button-caption {
	font-size: 13px;
}

.v-button.lm-selection-help .v-button-caption {
	padding-left: 14px;
}

.lm-table-select-all {
	padding-top: 10px;
}

.lm-list-edit-list-details {
	padding-top: 7px;
}

.lm-new-list-buttons {
	padding-top: 7px;
}

.lm-list-manager-main .v-panel,
.lm-list-manager-popup .v-panel {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-radius: none;
}

.lm-list-manager-main .v-panel-captionwrap,
.lm-list-manager-main .v-panel-deco,
.lm-list-manager-popup .v-panel-captionwrap,
.lm-list-manager-popup .v-panel-deco {
	display: none;
}

.lm-tools-button  .v-button-info {
	padding-left: 0;
}

.lm-tools-button .v-button-wrap {
	padding-top: 2px;
	padding-left: 9px;
}

.lm-list-manager-main .v-panel-content,
.lm-list-manager-popup .v-panel-content {
	border: 1px solid rgb(228, 228, 228);
}

.lm-search-results-label {
	padding: 4px 0;
}

.lm-search-bar > div {
	background-color: #e3e3e3;
}

.lm-search-bar .lm-subtitle {
	padding-bottom: 12px;
}

.lm-list-manager-popup .componenttree-expander {
	margin-left: none;
}

.gwt-FileUpload {
	display: inline !important;
} 
