@import url(../reindeer/styles.css);

.gcp-window-title {
	font-weight: bold;
	font-size: 24px;
}

.gcp-content-title {
	font-weight: bold;
	font-size: 16px;
}

.gcp-section-title {
	font-weight: bold;
	font-size: 12px;
}

.gcp-form-title {
	font-weight: bold;
}
/* Lay the options horizontally */
.v-select-optiongroup-horizontal .v-select-option {
	display: inline-block;
}

/* Avoid wrapping if the layout is too tight */
.v-select-optiongroup-horizontal {
	white-space: nowrap;
}

/* Some extra spacing is needed */
.v-select-optiongroup-horizontal
  .v-select-option.v-radiobutton {
	align-bottom: 10px;
}

.addTopSpace {
	margin-top: 10px;
	margin-left: 10px
}

.addSpacing {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.addTablePadding {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
}

/* Modify default styles for the progress indicator */
.v-loading-indicator,
.v-loading-indicator-delay,
.v-loading-indicator-wait {
    position: absolute;
    /* change indicator position from top-right to center from top-left */
    top: 50%;
    left: 50%;
    /* double the size of the default gif, might need to create new gif to avoid pixellation */
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    /* reduce opacity of progress indicator since it will sit on top of other elements */
    opacity: 0.8;
}