<style type="text/css">
.helpPopup { margin-top: 50px; }
.helpPopup #help_download_section { text-align: center; }
.helpPopup #help_pdf_link, .helpPopup #help_html_link  { display: inline-block; margin: 20px; text-align: center; }
.helpPopup #help_mail { text-decoration: none; } 
</style>

<div class="helpPopup">
	<h1 id="help_header">HELP</h1>
	<div id="help_section1">Please see the full BMS Documentation <a href="https://www.integratedbreeding.net/583" target="_blank">here</a>.</div>
    <br/>
	<div id="help_section2">If you need additional assistance installing or using the application, you can contact our support team at 
	<a id="help_mail" href="mailto:support@vsni.co.uk">support@vsni.co.uk</a>.</div>
</div>
	   		 