<div class="helpPopup">
	<h1 id="help_header">HELP</h1>
	<div id="help_section1">The user manual, as well as a range of tutorials and other resources for the Breeding Management System, are available on the <a class="gcp-html-link" href="https://www.integratedbreeding.net/" target="_BLANK">IBP portal</a>.</div>
	<div id="help_download_section">
		<div id="help_html_link" location="html_link">&nbsp;</div>
	</div>
	<div id="help_section2">If your internet connection is unreliable, you can download and install <a class="gcp-html-link" href="https://www.integratedbreeding.net/16/breeding-management-system/download" target="_BLANK">a mirror of the BMS documentation</a> so that you can access it without being connected.
	</div>
    <br/>
	<div id="help_section3">If you need additional assistance installing or using the application, you can contact our support team at <a id="help_mail" href="mailto:support@vsni.co.uk">support@vsni.co.uk</a>.</div>
</div>
	   		 