<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http pattern="/controller/static/**" security="none" />

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/VAADIN/**" access="permitAll" />

		<!--BREEDING_ACTIVITIES-->
		<!--MANAGE_GERMPLASM-->
		<intercept-url pattern="/main/list-manager/*" access="hasAnyAuthority('ROLE_ADMIN', 'ROLE_BREEDING_ACTIVITIES', 'ROLE_MANAGE_GERMPLASM')"/>
		<intercept-url pattern="/main/list-manager/**" access="hasAnyAuthority('ROLE_ADMIN', 'ROLE_BREEDING_ACTIVITIES', 'ROLE_MANAGE_GERMPLASM')"/>

		<!--CROP_MANAGEMENT-->
		<!--IMPORT_GERMPLASM-->
		<intercept-url pattern="/main/germplasm-import/**" access="hasAnyAuthority('ROLE_ADMIN', 'ROLE_CROP_MANAGEMENT', 'ROLE_IMPORT_GERMPLASM')"/>

		<custom-filter position="PRE_AUTH_FILTER" ref="bmsPreAuthenticationFilter" />
		<access-denied-handler error-page="/controller/accessDenied"/>
	</http>


	<!-- Must use AspectJ mode for using method level security annotations on Vaadin component beans. -->
	<global-method-security pre-post-annotations="enabled" mode="aspectj" proxy-target-class="true"/>

	<bean:bean id="preAuthenticatedAuthenticationProvider" 
			class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
		<bean:property name="preAuthenticatedUserDetailsService" ref="preAuthenticatedUserDetailsService" />
	</bean:bean>
	
	<bean:bean id="preAuthenticatedUserDetailsService" 
			class="org.springframework.security.web.authentication.preauth.PreAuthenticatedGrantedAuthoritiesUserDetailsService" />
	
	<bean:bean id="bmsPreAuthenticatedUsersRolePopulator" 
			class="org.generationcp.commons.security.BMSPreAuthenticatedUsersRolePopulator" />
  
  	<!-- This filter checks to see if the user is already authenticated by an external system (in BMS case it is the Workbench). 
		If already authenticated, lets the user in directly.  -->
	<bean:bean id="bmsPreAuthenticationFilter" class="org.generationcp.commons.security.BMSPreAuthenticationFilter">
		<bean:property name="authenticationManager" ref="bmsAuthenticationManager" />
		<bean:property name="authenticationDetailsSource" ref="bmsPreAuthenticatedUsersRolePopulator"/>
		<bean:property name="checkForPrincipalChanges" value="true"/>
		<bean:property name="invalidateSessionOnPrincipalChange" value="false"/>
	</bean:bean>
	
	<bean:bean id="workbenchUserDetailsService" class="org.generationcp.commons.security.WorkbenchUserDetailsService">
		<bean:property name="workbenchDataManager" ref="workbenchDataManager" />
	</bean:bean>
	
	<authentication-manager alias="bmsAuthenticationManager">
		<authentication-provider ref="preAuthenticatedAuthenticationProvider" />
		<authentication-provider user-service-ref="workbenchUserDetailsService">
			<password-encoder hash="bcrypt" />
		</authentication-provider>
	</authentication-manager>

</bean:beans>
