<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>breeding-manager</display-name>
	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>classpath*:applicationContext.xml</param-value>
    </context-param>
    	
   <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
      <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener> 	
    	
	  <session-config>
	    <session-timeout>-1</session-timeout>
	  </session-config>
	
  <servlet>
    <servlet-name>MainApplication</servlet-name>
    <servlet-class>org.generationcp.commons.vaadin.spring.SpringApplicationServlet</servlet-class>
   	<init-param>
     		<param-name>application</param-name>
     		<param-value>org.generationcp.breeding.manager.application.BreedingManagerApplication</param-value>
   	</init-param>
<!-- 	<init-param>
		<param-name>applicationBeanName</param-name>
		<param-value>germplasm_study_browser_application</param-value>
	</init-param>	 -->	    
  </servlet>
  <servlet-mapping>
    <servlet-name>MainApplication</servlet-name>
    <url-pattern>/main/*</url-pattern>
  </servlet-mapping>

	<servlet-mapping>
		<servlet-name>MainApplication</servlet-name>
		<url-pattern>/VAADIN/*</url-pattern>
	</servlet-mapping>
</web-app>
